body{
  background-color: #A0C1B9;
}
h1{
  font-size:400%;
  letter-spacing:1px;
  color: #F5F5DC;
  text-decoration-color: white;
  font-family: "Courier";

}
p{
  font-size: 60%;
  color: #F5F5DC;
  font-family: "Courier";
  
}

